<div class="ui basic segment">
  
  <div id="desktoppagetitleandsearchbar">
    <div id="titlebarsegment" class="ui basic segment">
        <h3>Berichten</h3>
    </div>
  </div>
  
  <div class="ui center aligned container">
    <div class="ui center aligned stacked segment">
      <div class="one columnn row">
        <div class="center aligned column">

          <h4 class="ui horizontal divider header profileheader">
            <i class="write icon"></i>
            Plaats bericht
          </h4>
          
          <%= form_for(@micropost, html: { class: 'ui form', multipart: true }) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
            
            <div class="fields">
              <div class="sixteen wide field">
                <%= f.text_area :content, placeholder: "Gebruik deze berichtenbox om feedback te geven op de applicatie (1), bugs te rapporteren (2) of feature requests te doen (3)...", rows: 5 %>
              </div>
            </div>
            
            <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
            
            <%= f.submit "Plaats bericht", class: "ui fluid large pink submit button" %>
          <% end %>

          <h4 class="ui horizontal divider header profileheader">
            <i class="info circle icon"></i>
            Tijdlijn
          </h4>
        
          <div class="ui feed berichtenboxspacer">
            <% if @feed_items.any? %>
              <%= render @feed_items %>
            <% end %>
          </div>
            <% if @feed_items.any? %>
              <%= will_paginate @feed_items %>
            <% end %>
        </div>
      </div>         
    </div>
  </div>
</div>