<% provide(:title, "Inloggen") %>
<style>
    body {
      background-color: #DADADA;
    }
    body > .grid {
      height: 100%;
    }

    .column {
      max-width: 450px;
    }
    
    input[type="email"] {
      width: 400px;

    }
      
    input[type="password"] {
      width: 400px;
    }
    
</style>

      
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <div class="content">
      <%= image_tag("LogoKZAConnected.png", size: "219x30", alt: "Home") %>
    </div>
   
    <%= form_for(:session, url: login_path) do |f| %>
      
      <% flash.each do |message_type, message| %>
        <div class="<%= flash_class(message_type) %>">
          <%= message %>
        </div>
      <% end %>
      
      <div class="ui left aligned stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <%= f.email_field :email, placeholder: "E-mail adres" %>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <%= f.password_field :password, placeholder: "Wachtwoord" %>
          </div>
        </div>
        <br>
        <div class="ui checkbox">
          <%= f.check_box :remember_me, class: "ui checkbox" %>
          <%= f.label :remember_me, "Gegevens onthouden" %>
        </div>
        <br><br>
        <%= f.submit "Log in", class: "ui fluid large pink submit button" %>
      </div>
    <% end %>
    
  </div>
</div>







