<%= render 'shared/error_messages', object: f.object %>

<div class="fields">
  <div class="six wide required field">
    <%= f.label :name, "Naam" %>
    <%= f.text_field :name %>
  </div>
  <div class="three wide required field">
    <%= f.label :attitude, "Attitude" %>
    <%= f.select(:attitude, ['Business', 'Test', 'Technical'], 
    {prompt: default_select_value}) %>
  </div>
</div>

<div class="fields">
  <div class="four wide required field">
    <%= f.label :email, "Emailadres"  %>
    <%= f.text_field :email %>
  </div>
  <div class="six wide required field">
    <%= f.label :contact, "Contactpersoon"  %>
    <%= f.select(:contact, User.where.not(name: ['KZA Connected']).order('name asc').pluck(:name), 
    {prompt: default_select_value}) %>  
  </div>
</div>

<div class="fields">
  <div class="sixteen wide required field">
    <%= f.label :description, "Beschrijving"  %>
    <%= f.text_area :description, rows: description_rows_new_and_edit_pages %>
  </div>
</div>