<!-- DESKTOP Groepoverzichtitem -->
<div class="ui segments listoverview">
  <div class="ui segment" id="topcontainersingleitem">
    
    <%= link_to group do %>
      <div class="<%= attitude_class(group.attitude) %>">
        <%= group.name %>
      </div>
    <% end %>
    
    <div class="overzichtdescription">
      <%= truncate(group.description, :length => description_length_index_pages) %>
    </div>    
    <div class="extra">
      <div class="ui right floated labeled button" tabindex="0"> 
      
        <% if group.users.include?(current_user) %>
          <a>
            <div class="ui red image label" id="disconnect_group_modal_<%= group.id %>">
              <i class="pencil icon"></i>
              Disconnect 
            </div>
          </a>
        <% else %>
          <a>
            <div class="ui green image label" id="connect_group_modal_<%= group.id %>">
              <i class="pencil icon"></i>
              Connect
            </div>
          </a>
        <% end %>
        
      </div>
      <%= link_to User.find_by_name(group.contact) do %>
      <div class="ui yellow image label">
        <%= image_tag(user_avatar_class(group.contact)) %>
        <%= group.contact %> 
        <div class="detail">Contactpersoon</div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="ui bottom attached label">
    <i class="user icon"></i><%= group.users.count %> &nbsp; &nbsp; &nbsp;
    <i class="mail outline icon"></i><%= group.email %>
  </div> 
</div>
<!-- DESKTOP EIND Groepoverzichtitem -->

<% if group.users.include?(current_user) %>
<!-- DESKTOP Groepoverzichtitem disconnect modal-->
  <div class="ui small modal" id="disconnect_group_modal_<%= group.id %>">
    <div class="header">
      Disconnect met groep '<%= group.name %>'
    </div>
    
   
      <div class="content">
        <%= form_for(group.user_groups.find_by(user_id: current_user.id), html: { method: :delete }) do |f| %>
          <p>Weet je het zeker?</p>
          <div class="actions">
            <div class="ui black deny button">
              Annuleren
            </div>
            <%= f.button( :class => 'ui negative right labeled icon button' ) do %>
              Disconnect <i class="remove icon"></i>
            <% end %>
          </div>
        <% end %>
      </div>
      
  </div>
<!-- DESKTOP EIND Groepoverzichtitem eind disconnect modal -->
<% else %>
<!-- DESKTOP Groepoverzichtitem eind connect modal -->
  <div class="ui small modal" id="connect_group_modal_<%= group.id %>">
    <div class="header">
      Connect met groep '<%= group.name %>'
    </div>
    
      <div class="content">
        <%= form_for(group.user_groups.build, html: {class: "ui form"}) do |f| %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.hidden_field :group_id %>
          <div class="actions">
            <div class="ui black deny button">
              Annuleren
            </div>
              <%= f.button( :class => 'ui positive right labeled icon button' ) do %>
                Connect <i class="checkmark icon"></i>
              <% end %>
          </div>
        <% end %>
      </div>

  </div>
<!-- DESKTOP EIND Groepoverzichtitem eind connect modal -->
<% end %>

<script>
  $(function() {
    $('div.label#connect_group_modal_<%= group.id %>').click( function(){
       $('div.modal#connect_group_modal_<%= group.id %>').modal('show');
    })
  })
  $(function() {
    $('div.label#disconnect_group_modal_<%= group.id %>').click( function(){
       $('div.modal#disconnect_group_modal_<%= group.id %>').modal('show');
    })
  })
</script>