<% provide(:title, "Groepen") %>
  
  <div id="desktoppagetitleandsearchbar">
    <div id="titlebarsegment" class="ui basic segment">
      <div class="ui basic left floated segment">
        <h3>Groepen</h3>
      </div>
      <div id="searchbarfix" class="ui basic right floated segment">
        <div class="ui icon input">
          <%= form_tag(groups_path, :method => "get") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Zoeken..." %>
          <%end%>
          <i class="search icon"></i>
        </div>
      </div>
    </div>
  </div>  
  
  <div class="ui basic segment">
    <div id="desktopcourseoverview">
      <% if @groups.present? %>
        <%= render @groups %>
      <% else %>
        <div class="ui basic segment">
          Geen groepen gevonden.
        </div>
      <% end %>
    </div>
    <br>
    <center><%= will_paginate %></center>
  </div>