<% provide(:title, "Groep aanmaken") %>

  <div class="ui basic segment">
          
    <div id="desktoppagetitleandsearchbar">
      <div id="titlebarsegment" class="ui basic segment">
          <h3>Groep aanmaken</h3>
      </div>
    </div>

    <%= form_for(@group, html: {class: "ui form"}) do |f| %>
      <%= render :partial => "group_form", :locals => { :f => f } %>
      <%= f.submit "Maak groep aan", class: "ui fluid large pink submit button" %>
    <% end %>

  </div>