<% provide(:title, @group.name) %>

<div class="ui basic segment">
  
  <div id="desktoppagetitleandsearchbar">
    <div id="titlebarsegment" class="ui basic segment">
        <h3>Groepsinformatie</h3>
    </div>
  </div>

  <div class="ui center aligned container">
    <div class="ui center aligned stacked segment">
      <div class="ui celled grid">
        
        <div class="row">
          <div class="six wide column">
            <h4 class="ui horizontal divider header profileheader">
              <i class="mini users icon"></i>
              Algemeen
            </h4>
            <p>
              <div class="ui grid">
                <div class="one columnn row">
                  <div class="left aligned column">
            <strong><%= label_tag 'name', 'Naam' %></strong>
                    <%= label_tag 'name', @group.name%><br>
            <strong><%= label_tag 'attitude', 'Attitude' %></strong>
                    <%= label_tag 'attitude', @group.attitude%><br>
            <strong><%= label_tag 'contact', 'Contactpersoon' %></strong>
                    <%= label_tag 'contact', @group.contact%><br>
            <strong><%= label_tag 'email', 'Emailadres' %></strong>
                    <%= label_tag 'email', @group.email%><br>
                    <br>
                    <%= link_to "Groep bewerken", edit_group_path %><br>
                    <% if current_user.admin? %>
                    <%= link_to "Groep verwijderen", @group, method: :delete, data: { confirm: "Weet je het zeker?" } %><br>
                    <% end %>
                    <br>
                  </div>
                </div>
              </div>     
            </p>
          </div>
          <div class="ten wide column">
            <h4 class="ui horizontal divider header profileheader">
              <i class="mini info icon"></i>
              Aanvullende informatie
            </h4>
            <p>
              <div class="ui grid">
                <div class="one columnn row">
                  <div class="left aligned column">
                    <p>
                      <%= h(@group.description).gsub(/\n/, '<br/>').html_safe %>
                    </p>
                  </div>
                </div>
              </div>     
            </p>
          </div>
        </div>

        <div class="one column row">
          <div class="column">
            <h4 class="ui horizontal divider header profileheader">
              <i class="mini user icon"></i>
              Collega's verbonden aan deze groep
            </h4>
            <% if @group.users.any? %>
              <div class="ui large horizontal divided list">
                <% @group.users.each do |user| %>
                  <div class="item">
                    <%= image_tag(user_avatar_class(user.name), {class: 'ui avatar image'}) %>
                    <div class="content">
                      <%= link_to(user.name, user_path(user), html: {class: 'header'}) %>
                    </div>
                  </div>
                <% end %>
              </div>
            <% else %>
              <div class="ui basic segment">
                Nog geen collega's verbonden aan deze groep.
              </div>
            <% end %>
          </div>
        </div> 
        
      </div>
    </div>
  </div>
</div>