<%= f.fields_for(:user_groups) do |ff| %>
  <div class="fields">
    <div class="six wide field">
      <% if ff.index == 0 %>
        <%= f.label :user_groups, "Groep"  %>
      <% end %>
      <%= ff.hidden_field :user_id %>
      <%= ff.collection_select(:group_id, Group.all, :id, :name, {prompt: default_select_value} )%>
    </div>
  </div>
<% end %><br>

<%= f.fields_for(:user_courses) do |ff| %>
  <div class="fields">
    <div class="six wide field">
      <% if ff.index == 0 %>
        <%= f.label :user_courses, "Cursus"  %>
      <% end %>
      <%= ff.hidden_field :user_id %>
      <%= ff.collection_select(:course_id, Course.all, :id, :name, {prompt: default_select_value} )%>
    </div>
    <div class="four wide field">
      <% if ff.index == 0 %>
        <%= f.label :user_courses, "Status"  %>
      <% end %>
      <%= ff.select(:status, ['Geinteresseerd', 'Ingeschreven', 'Afgerond'], {prompt: default_select_value}, label: false) %>
    </div>
  </div>
<% end %><br>

<%= f.fields_for(:user_skills) do |ff| %>
  <div class="fields">
    <div class="six wide field">
      <% if ff.index == 0 %>
        <%= f.label :user_skills, "Kennisgebied"  %>
      <% end %>
      <%= ff.hidden_field :user_id %>
      <%= ff.collection_select(:skill_id, Skill.all, :id, :name, {prompt: default_select_value} )%>
    </div>
    <div class="four wide field">
      <% if ff.index == 0 %>
        <%= f.label :user_skills, "Niveau"  %>
      <% end %>
      <%= ff.select(:level, ['Beginner', 'Gevorderd', 'Expert'], {prompt: default_select_value} ) %>
    </div>
  </div>
<% end %><br>

<%= f.fields_for(:user_clients) do |ff| %>
  <div class="fields">
    <div class="six wide field">
      <% if ff.index == 0 %>
        <%= f.label :user_clients, "Klant"  %>
      <% end %>
      <%= ff.hidden_field :user_id %>
      <%= ff.collection_select(:client_id, Client.all, :id, :name, {prompt: default_select_value} )%>
    </div>
    <div class="four wide field">
      <% if ff.index == 0 %>
        <%= f.label :user_clients, "Van"  %>
      <% end %>
      <%= ff.date_field :from_date %>
    </div>
    <div class="four wide field">
      <% if ff.index == 0 %>
        <%= f.label :user_clients, "Tot"  %>
      <% end %>
      <%= ff.date_field :to_date %>
    </div>
  </div>
<% end %><br>