<%= render 'shared/error_messages', object: f.object %>

<div class="fields">
  <div class="six wide required field">
    <%= f.label :name, "Naam" %>
    <%= f.text_field :name %>
  </div>
  <div class="three wide required field">
    <%= f.label :attitude, "Attitude" %>
    <%= f.select(:attitude, ['Business', 'Test', 'Technical'], 
    {prompt: default_select_value}) %>
  </div>
</div>

<div class="inline fields">
  <%= f.label :gender, "Geslacht" %>
  <div class="field">
    <%= f.radio_button :gender, "Man" %>
    <%= f.label :gender, "Man", :value => "Man"  %>
  </div>
  <div class="field">
    <%= f.radio_button :gender, "Vrouw" %>
    <%= f.label :gender, "Vrouw", :value => "Vrouw" %>
  </div>
</div>
  
<div class="fields">
  <div class="four wide required field">
    <%= f.label :dateofbirth, "Geboortedatum"  %>
    <%= f.date_field :dateofbirth %>
  </div>
  <div class="four wide required field">
    <%= f.label :residence, "Woonplaats"  %>
    <%= f.text_field :residence %>
  </div>
  <div class="four wide required field">
    <%= f.label :email, "Email adres"  %>
    <%= f.email_field :email %>
  </div>
    <div class="four wide required field">
    <%= f.label :phonenumber, "Telefoonnummer"  %>
    <%= f.telephone_field :phonenumber %>
  </div>
</div>

<div class="fields">
  <div class="three wide required field">
    <%= f.label :startdate, "In diensttreding datum"  %>
    <%= f.date_field :startdate %>
  </div>
  <div class="three wide required field">
    <%= f.label :function_level, "Functieniveau"  %>
    <%= f.select(:function_level, ['T','1','2','3'],
    {prompt: default_select_value}) %>
  </div>
  <div class="six wide required field">
    <%= f.label :bu_manager, "Business unit manager (Indien volgende 'Nee')"  %>
    <%= f.select(:bu_manager, User.where(:is_bu_manager => true).order('name asc').pluck(:name),
    {prompt: default_select_value}) %>
  </div>
</div>

<div class="inline fields">
  <%= f.label :is_bu_manager, "Business unit manager" %>
  <div class="field">
    <%= f.radio_button :is_bu_manager, "false" %>
    <%= f.label :is_bu_manager, "Nee", :value => false  %>
  </div>
  <div class="field">
    <%= f.radio_button :is_bu_manager, "true" %>
    <%= f.label :is_bu_manager, "Ja", :value => true %>
  </div>
</div>

<div class="fields">
  <div class="sixteen wide required field">
    <%= f.label :description, "Beschrijving"  %>
    <%= f.text_area :description, rows: description_rows_new_and_edit_pages %>
  </div>
</div>

<div class="fields">
  <div class="four wide field">
    <%= f.label :password, "Wachtwoord"  %>
    <%= f.password_field :password %>
  </div>
  <div class="four wide field">
    <%= f.label :password_confirmation, "Wachtwoord bevestiging" %>
    <%= f.password_field :password_confirmation %>
  </div>
</div>