<!-- Dit is een item van een overview list -->
<div class="ui segments listoverview">
  <div class="ui segment" id="topcontainersingleitem">
      
    <%= link_to user do %>
      <div class="<%= attitude_class(user.attitude) %>">
        <%= user.name %>
      </div>
    <% end %>
  
    <div class="overzichtdescription">
      <div class="overzichtimage">
        <%= image_tag(user_avatar_class(user.name), width: '75') %>
      </div>
      <div class="overzichttekst">
        <%= truncate(user.description, :length => description_length_index_pages) %>
      </div>
    </div>    
  
    <div class="extra">
      <% if user.user_clients.where("from_date <= ? AND to_date >= ?", DateTime.now, DateTime.now).empty? %>  
        <a class="ui yellow image label">
          <img src="">
            Niet op opdracht.
          <div class="detail">Klant</div>
        </a>
      <% else %>
      <%= link_to Client.find_by_name(user.user_clients.where("from_date <= ? AND to_date >= ?", DateTime.now, DateTime.now).first.client.name) do %>
        <div class="ui yellow image label">
          <img src="http://logo.clearbit.com/<%= user.user_clients.where("from_date <= ? AND to_date >= ?", DateTime.now, DateTime.now).first.client.name.gsub(/\s+/, "") %>.nl">
            <%= user.user_clients.where("from_date <= ? AND to_date >= ?", DateTime.now, DateTime.now).first.client.name %>
          <div class="detail">Klant</div>
        </div>
        <% end %>
      <% end %>
    </div>

  </div>
  
  <div class="ui bottom attached label">
    <% if user.gender == 'Man' %>
        <i class="male icon"></i><%= user.gender %>
    <% else %>
        <i class="female icon"></i><%= user.gender %>
    <% end %> &nbsp; &nbsp; &nbsp;
    
    <i class="location arrow icon"></i><%= user.residence %> &nbsp; &nbsp; &nbsp;
    <i class="mail outline icon"></i><%= user.email %> &nbsp; &nbsp; &nbsp;
    <i class="call icon"></i><%= user.phonenumber %> 
  </div>

</div>
<!-- Einde listitem -->
