<% provide(:title, "Connecties bewerken") %>

  <div class="ui basic segment">
          
    <div id="desktoppagetitleandsearchbar">
      <div id="titlebarsegment" class="ui basic segment">
          <h3>Connecties bewerken</h3>
      </div>
    </div>
  
    <% if @user.clients.present? || @user.courses.present? || @user.skills.present? || @user.groups.present? %>
      
      <%= form_for(@user, html: {class: "ui form"}) do |f| %>
        <%= render :partial => "edit_connections", :locals => { :f => f } %>
        <%= f.submit "Sla wijzigingen op", class: "ui fluid large pink submit button" %>
      <% end %>
    
    <% else %>
      <div class="ui basic segment">
        Nog geen connecties.
      </div>
    <% end %>

  </div>