<% provide(:title, "Collega's") %>
  
  <div id="desktoppagetitleandsearchbar">
    <div id="titlebarsegment" class="ui basic segment">
      <div class="ui basic left floated segment">
        <h3>Collega's</h3>
      </div>
      <div id="searchbarfix" class="ui basic right floated segment">
        <div class="ui icon input">
          <%= form_tag(users_path, :method => "get") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Zoeken..." %>
          <%end%>
          <i class="search icon"></i>
        </div>
      </div>
    </div>
  </div>  
  
  <div class="ui basic segment">
    <div id="desktopcourseoverview">
      <% if @users.present? %>
        <%= render @users %>
      <% else %>
        <div class="ui basic segment">
          Geen collega's gevonden.
        </div>
      <% end %>
    </div>
    <br>
    <center><%= will_paginate %></center>
  </div>