<% provide(:title, "Gebruiker aanmaken") %>

  <div class="ui basic segment">
          
    <div id="desktoppagetitleandsearchbar">
      <div id="titlebarsegment" class="ui basic segment">
          <h3>Gebruiker aanmaken</h3>
      </div>
    </div>

    <%= form_for(@user, html: {class: "ui form"}) do |f| %>
      <%= render :partial => "user_form", :locals => { :f => f } %>
      <%= f.submit "Maak gebruiker aan", class: "ui fluid large pink submit button" %>
    <% end %>

  </div>