<% provide(:title, @user.name) %>

<div class="ui basic segment">
  
  <div id="desktoppagetitleandsearchbar">
    <div id="titlebarsegment" class="ui basic segment">
        <h3>Gebruikersprofiel</h3>
    </div>
  </div>

  <div class="ui center aligned container">
    <div class="ui center aligned stacked segment">
      <div class="ui celled grid">
        
        <div class="row">
          <div class="six wide column">
            <h4 class="ui horizontal divider header profileheader">
              <i class="mini user icon"></i>
              Algemeen
            </h4>
            <p>
              <div class="ui grid">
                <div class="one columnn row">
                  <div class="left aligned column">
                    <%= image_tag(user_avatar_class(@user.name), class: 'ui centered circular image', width: '128') %>
                    <br>
            <strong><%= label_tag 'naam', 'Naam' %></strong>
                    <%= label_tag 'naam', @user.name%><br>
            <strong><%= label_tag 'attitude', 'Attitude' %></strong>
                    <%= label_tag 'attitude', @user.attitude %><br> 
            <strong><%= label_tag 'geslacht', 'Geslacht' %></strong> 
                    <%= label_tag 'geslacht', @user.gender %><br>
            <strong><%= label_tag 'leeftijd', 'Leeftijd' %></strong>
                    <%= label_tag 'leeftijd', @userage +' jaar' %><br>
            <strong><%= label_tag 'woonplaats', 'Woonplaats' %></strong>
                    <%= label_tag 'woonplaats', @user.residence %><br>
            <strong><%= label_tag 'functieniveau', 'Functieniveau' %></strong>
                    <%= label_tag 'functieniveau', @user.function_level %><br>
            <strong><%= label_tag 'bijkzasinds', 'Bij KZA sinds' %></strong>
                    <%= label_tag 'bijkzasinds', @user.startdate.strftime("%d/%m/%Y") %><br>
            <strong><%= label_tag 'emailadres', 'Emailadres' %></strong>
                    <%= label_tag 'emailadres', @user.email%><br>
            <strong><%= label_tag 'telefoonnummer', 'Telefoonnummer' %></strong>
                    <%= label_tag 'telefoonnummer', @user.phonenumber%><br>
                    
                    <% if current_user.admin? && !current_user?(@user) %>
                      <br>
                      <%= link_to "Collega verwijderen", @user, method: :delete, data: { confirm: "Weet je het zeker?" } %>
                      <br>
                    <% end %>
                    <br>
                  </div>
                </div>
              </div>     
            </p>
          </div>
          
          <div class="ten wide column">
            <h4 class="ui horizontal divider header profileheader">
              <i class="mini info icon"></i>
              Persoonlijke informatie
            </h4>
            <p>
              <div class="ui grid">
                <div class="one columnn row">
                  <div class="left aligned column">
                    <p>
                      <%= h(@user.description).gsub(/\n/, '<br/>').html_safe %>
                    </p>
                  </div>
                </div>
              </div>     
            </p>
          </div>
        </div>

        <div class="three column row">
          <div class="column">
            <h4 class="ui horizontal divider header profileheader">
              <i class="mini student icon"></i>
              Cursussen
            </h4>
              <div class="ui grid">
                <% if @user.courses.any? %>
                  <div class="one column row">            
                    <div class="column">     
                    <h5 class="ui blue horizontal header profileheader">Geinteresseerd</h5>
                      <div class="ui middle aligned animated list">
                        <% @user.user_courses.each do |usercourse| %>
                        <% if usercourse.status == "Geinteresseerd"  %>  
                          <div class="item">
                            <div class="content">
                              <%= link_to(usercourse.course.name, course_path(usercourse.course), html: {class: 'header'}) %>
                            </div>
                          </div>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                  <div class="one column row">            
                    <div class="column">     
                    <h5 class="ui teal horizontal header profileheader">Ingeschreven</h5>
                      <div class="ui middle aligned animated list">
                        <% @user.user_courses.each do |usercourse| %>
                        <% if usercourse.status == "Ingeschreven"  %>  
                          <div class="item">
                            <div class="content">
                              <%= link_to(usercourse.course.name, course_path(usercourse.course), html: {class: 'header'}) %>
                            </div>
                          </div>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                  <div class="one column row">            
                    <div class="column">     
                    <h5 class="ui green horizontal header profileheader">Afgerond</h5>
                      <div class="ui middle aligned animated list">
                        <% @user.user_courses.each do |usercourse| %>
                        <% if usercourse.status == "Afgerond"  %>  
                          <div class="item">
                            <div class="content">
                              <%= link_to(usercourse.course.name, course_path(usercourse.course), html: {class: 'header'}) %>
                            </div>
                          </div>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                <% else %>
                <div class="one column row">            
                  <div class="column">     
                    <div class="ui middle aligned animated list">
                    Nog geen cursussen
                    </div>
                  </div>
                </div>
                <% end %>
            </div>
          </div>
          <div class="column">
            <h4 class="ui horizontal divider header profileheader">
              <i class="mini book icon"></i>
              Kennisgebieden
            </h4>
            <div class="ui grid">
              <% if @user.skills.any? %>
                <div class="one column row">            
                  <div class="column">     
                  <h5 class="ui blue horizontal header profileheader">Beginner</h5>
                    <div class="ui middle aligned animated list">
                      <% @user.user_skills.each do |userskill| %>
                      <% if userskill.level == "Beginner"  %>  
                        <div class="item">
                          <div class="content">
                            <%= link_to(userskill.skill.name, skill_path(userskill.skill), html: {class: 'header'}) %>
                          </div>
                        </div>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="one column row">            
                  <div class="column">     
                  <h5 class="ui teal horizontal header profileheader">Gevorderd</h5>
                    <div class="ui middle aligned animated list">
                      <% @user.user_skills.each do |userskill| %>
                      <% if userskill.level == "Gevorderd"  %>  
                        <div class="item">
                          <div class="content">
                            <%= link_to(userskill.skill.name, skill_path(userskill.skill), html: {class: 'header'}) %>
                          </div>
                        </div>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="one column row">            
                  <div class="column">     
                  <h5 class="ui green horizontal header profileheader">Expert</h5>
                    <div class="ui middle aligned animated list">
                      <% @user.user_skills.each do |userskill| %>
                      <% if userskill.level == "Expert"  %>  
                        <div class="item">
                          <div class="content">
                            <%= link_to(userskill.skill.name, skill_path(userskill.skill), html: {class: 'header'}) %>
                          </div>
                        </div>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% else %>
                <div class="one column row">            
                  <div class="column">     
                    <div class="ui middle aligned animated list">
                    Nog geen kennisgebieden
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <div class="column">
            <h4 class="ui horizontal divider header profileheader">
              <i class="mini users icon"></i>
              Groepen
            </h4>
            <div class="ui middle aligned animated list">
              <% if @user.groups.any? %>
                <% @user.groups.each do |group| %>
                  <div class="item">
                    <div class="content">
                      <%= link_to(group.name, group_path(group), html: {class: 'header'}) %>
                    </div>
                  </div>
                <% end %>
              <% else %>
                Nog geen groepen
              <% end %>
            </div>
          </div>
        </div> 
        
        <div class="row">
          <div class="column">
            <h4 class="ui horizontal divider header profileheader">
              <i class="mini suitcase icon"></i>
              Klanten
            </h4>
            <div class="ui list">
              
              <% if @user.clients.any? %>
                <table class="ui very basic table">
                  <thead>
                    <tr>
                      <th class="four wide">&nbsp;</th>
                      <th class="five wide">Klant</th>
                      <th class="two wide">Van</th>
                      <th class="five wide">Tot</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @user.user_clients.each do |userclient| %>
                      <tr>
                        <td class="right aligned">
                          <%= link_to Client.find_by_name(userclient.client.name) do %>
                            <img src="http://logo.clearbit.com/<%= userclient.client.logo_url %>" height="30">
                          <% end %>
                        </td>
                        <td>
                          <%= link_to Client.find_by_name(userclient.client.name) do %>
                            <%= userclient.client.name %>
                          <% end %>
                        </td>
                        <td>
                          <%= link_to Client.find_by_name(userclient.client.name) do %>
                            <%= userclient.from_date.strftime("%d/%m/%Y") %>
                          <% end %>
                        </td>
                        <td>
                          <%= link_to Client.find_by_name(userclient.client.name) do %>
                            <%= userclient.to_date.strftime("%d/%m/%Y") %>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>  
              <% else %>
                <div class="one column row">            
                  <div class="column">     
                    <div class="ui middle aligned animated list">
                    Nog geen klanten
                    </div>
                  </div>
                </div>
              <% end %>
              
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>