<%= render 'shared/error_messages', object: f.object %>

<div class="fields">
  <div class="six wide required field">
    <%= f.label :name, "Naam" %>
    <%= f.text_field :name %>
  </div>
  <div class="three wide required field">
    <%= f.label :attitude, "Attitude" %>
    <%= f.select(:attitude, ['Business', 'Test', 'Technical'], 
    {prompt: default_select_value}) %>
  </div>
</div>

<div class="fields">
  <div class="four wide required field">
    <%= f.label :category, "Categorie" %>
    <%= f.select(:category, ['Ontwikkellibrary','Ontwikkelmethodiek','Ontwikkeltechniek','Ontwikkeltool','Programmeertaal','Testlibrary','Testmethodiek','Testtechniek','Testtool'],
    {prompt: default_select_value}) %>
  </div>
</div>

<div class="fields">
  <div class="sixteen wide required field">
    <%= f.label :description, "Beschrijving"  %>
    <%= f.text_area :description, rows: description_rows_new_and_edit_pages %>
  </div>
</div>