<!-- DESKTOP Kennisgebiedoverzichtitem -->
<div class="ui segments listoverview">
  <div class="ui segment" id="topcontainersingleitem">
    
    <%= link_to skill do %>
      <div class="<%= attitude_class(skill.attitude) %>">
        <%= skill.name %>
      </div>
    <% end %>
    
    <div class="overzichtdescription">
      <%= truncate(skill.description, :length => description_length_index_pages) %>
    </div>    
    <div class="extra">
      <div class="ui right floated labeled button" tabindex="0"> 
    
        <% if skill.users.include?(current_user) %>
          <a>
            <div class="ui red image label" id="disconnect_skill_modal_<%= skill.id %>">
              <i class="pencil icon"></i>
              Disconnect 
            </div>
          </a>
        <% else %>
          <a>
            <div class="ui green image label" id="connect_skill_modal_<%= skill.id %>">
              <i class="pencil icon"></i>
              Connect
            </div>
          </a>
        <% end %>
        
      </div>
      <a class="ui yellow image label">
        <img src="">
          <%= skill.category %>
        <div class="detail">Categorie</div>
      </a>
    </div>
  </div>
  <div class="ui bottom attached label">
    <i class="user icon"></i> <%= skill.users.count %> &nbsp; &nbsp; &nbsp;
  </div>
</div>
<!-- DESKTOP EIND Kennisgebiedoverzichtitem -->

<% if skill.users.include?(current_user) %>
<!-- DESKTOP Kennisgebiedoverzichtitem disconnect modal-->
  <div class="ui small modal" id="disconnect_skill_modal_<%= skill.id %>">
    <div class="header">
      Disconnect met kennisgebied '<%= skill.name %>'
    </div>
    
      <div class="content">
        <%= form_for(skill.user_skills.find_by(user_id: current_user.id), html: { method: :delete }) do |f| %>
          <p>Weet je het zeker?</p>
          <div class="actions">
            <div class="ui black deny button">
              Annuleren
            </div>
            <%= f.button( :class => 'ui negative right labeled icon button' ) do %>
              Disconnect <i class="remove icon"></i>
            <% end %>
          </div>
        <% end %>
      </div>
      
  </div>
<!-- DESKTOP EIND Kennisgebiedoverzichtitem disconnect modal-->
<% else %>
<!-- DESKTOP Kennisgebiedoverzichtitem connect modal-->
  <div class="ui small modal" id="connect_skill_modal_<%= skill.id %>">
    <div class="header">
      Connect met kennisgebied '<%= skill.name %>'
    </div>
    
      <div class="content">
        <%= form_for(skill.user_skills.build, html: {class: "ui form"}) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.hidden_field :skill_id %>
          <%= f.label :level, "Geef een indicatie van je kennis met betrekking tot dit onderwerp:"  %>
          <%= f.select(:level, ['Beginner', 'Gevorderd', 'Expert'], {prompt: default_select_value}) %><br>
          <div class="actions">
            <div class="ui black deny button">
              Annuleren
            </div>
            <%= f.button( :class => 'ui positive right labeled icon button' ) do %>
              Connect <i class="checkmark icon"></i>
            <% end %>
          </div>
        <% end %>
      </div>
      
  </div>
<!-- DESKTOP EIND Kennisgebiedoverzichtitem connect modal-->
<% end %>

<script>
  $(function() {
    $('div.label#connect_skill_modal_<%= skill.id %>').click( function(){
       $('div.modal#connect_skill_modal_<%= skill.id %>').modal('show');
    })
  })
  $(function() {
    $('div.label#disconnect_skill_modal_<%= skill.id %>').click( function(){
       $('div.modal#disconnect_skill_modal_<%= skill.id %>').modal('show');
    })
  })
</script>