<% provide(:title, "Kennisgebied bewerken") %>

  <div class="ui basic segment">
          
    <div id="desktoppagetitleandsearchbar">
      <div id="titlebarsegment" class="ui basic segment">
          <h3>Kennisgebied bewerken</h3>
      </div>
    </div>
  
    <%= form_for(@skill, html: {class: "ui form"}) do |f| %>
      <%= render :partial => "skill_form", :locals => { :f => f } %>
      <%= f.submit "Sla wijzigingen op", class: "ui fluid large pink submit button" %>
    <% end %>

  </div>