<% provide(:title, "Kennisgebied aanmaken") %>

  <div class="ui basic segment">
          
    <div id="desktoppagetitleandsearchbar">
      <div id="titlebarsegment" class="ui basic segment">
          <h3>Kennisgebied aanmaken</h3>
      </div>
    </div>

    <%= form_for(@skill, html: {class: "ui form"}) do |f| %>
      <%= render :partial => "skill_form", :locals => { :f => f } %>
      <%= f.submit "Maak kennisgebied aan", class: "ui fluid large pink submit button" %>
    <% end %>

  </div>
