<% provide(:title, @skill.name) %>

<div class="ui basic segment">
  
  <div id="desktoppagetitleandsearchbar">
    <div id="titlebarsegment" class="ui basic segment">
        <h3>Kennisgebiedinformatie</h3>
    </div>
  </div>

  <div class="ui center aligned container">
    <div class="ui center aligned stacked segment">
      <div class="ui celled grid">
        
        <div class="row">
          <div class="six wide column">
            <h4 class="ui horizontal divider header profileheader">
              <i class="mini book icon"></i>
              Algemeen
            </h4>
            <p>
              <div class="ui grid">
                <div class="one columnn row">
                  <div class="left aligned column">
            <strong><%= label_tag 'name', 'Naam' %></strong>
                    <%= label_tag 'name', @skill.name%><br>
            <strong><%= label_tag 'attitude', 'Attitude' %></strong>
                    <%= label_tag 'attitude', @skill.attitude %><br>
            <strong><%= label_tag 'category', 'Categorie' %></strong>
                    <%= label_tag 'category', @skill.category %><br>
                    <br>
                    <%= link_to "Kennisgebied bewerken", edit_skill_path %><br>
                    <% if current_user.admin? %>
                    <%= link_to "Kennisgebied verwijderen", @skill, method: :delete, data: { confirm: "Weet je het zeker?" } %><br>
                    <% end %>
                    <br>
                  </div>
                </div>
              </div>     
            </p>
          </div>
          <div class="ten wide column">
            <h4 class="ui horizontal divider header profileheader">
              <i class="mini info icon"></i>
              Aanvullende informatie
            </h4>
            <p>
              <div class="ui grid">
                <div class="one columnn row">
                  <div class="left aligned column">
                    <p>
                      <%= h(@skill.description).gsub(/\n/, '<br/>').html_safe %>
                    </p>
                  </div>
                </div>
              </div>     
            </p>
          </div>
        </div>

        <div class="one column row">
          <div class="column">
            <h4 class="ui horizontal divider header profileheader">
              <i class="mini user icon"></i>
              Collega's verbonden aan dit kennisgebied
            </h4>
            
            <% if @skill.users.any? %>
            
              <div class="ui grid">
                <div class="three column row">
                  
                  <div class="column">
                    <h5 class="ui blue horizontal header profileheader">Beginner</h5>
                    <div class="ui middle aligned animated list">
                      <% @skill.user_skills.each do |userskill| %>
                      <% if userskill.level == "Beginner"  %>  
                        <div class="item">
                          <%= image_tag(user_avatar_class(userskill.user.name), {class: 'ui avatar image'}) %>
                          <div class="content">
                            <%= link_to(userskill.user.name, user_path(userskill.user), html: {class: 'header'}) %>
                          </div>
                        </div>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                  
                  <div class="column">
                    <h5 class="ui teal horizontal header profileheader">Gevorderd</h5>
                    <div class="ui middle aligned animated list">
                      <% @skill.user_skills.each do |userskill| %>
                      <% if userskill.level == "Gevorderd"  %>  
                        <div class="item">
                          <%= image_tag(user_avatar_class(userskill.user.name), {class: 'ui avatar image'}) %>
                          <div class="content">
                            <%= link_to(userskill.user.name, user_path(userskill.user), html: {class: 'header'}) %>
                          </div>
                        </div>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                  
                  <div class="column">
                    <h5 class="ui green horizontal header profileheader">Expert</h5>
                    <div class="ui middle aligned animated list">
                      <% @skill.user_skills.each do |userskill| %>
                      <% if userskill.level == "Expert"  %>  
                        <div class="item">
                          <%= image_tag(user_avatar_class(userskill.user.name), {class: 'ui avatar image'}) %>
                          <div class="content">
                            <%= link_to(userskill.user.name, user_path(userskill.user), html: {class: 'header'}) %>
                          </div>
                        </div>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                  
                </div>
              </div>
            <% else %>
              <div class="ui basic segment">
                Nog geen collega's verbonden aan dit kennisgebied.
              </div>
            <% end %>
            
            
          </div>
        </div> 
        
      </div>
    </div>
  </div>
</div>