<% if object.errors.any? %>

  <div class="ui error message">
    <div class="header">
      Het formulier bevat <%= pluralize(object.errors.count, "error") %>.
    </div>

    <ul class="list" display="block" !important>
      <% object.errors.full_messages.each do |message| %>
        <li>
          <%= message %> 
        </li>
      <% end %>
    </ul>  
  </div>

<% end %>


