<!-- DESKTOP Klantenoverzichtitem -->
<div class="ui segments listoverview">
  <div class="ui segment" id="topcontainersingleitem">
    
    <%= link_to client do %>
      <div class="<%= attitude_class(client.attitude) %>">
        <%= client.name %>      </div>
    <% end %>
    
    <div class="overzichtdescription">
      <div class="overzichtimage">
        <img src="http://logo.clearbit.com/<%= client.logo_url %>" width="75">
      </div>
      <div class="overzichttekst">
        <%= truncate(client.description, :length => description_length_index_pages) %>
      </div>
    </div>    
    <div class="extra">
      <div class="ui right floated labeled button" > 
      
        <% if client.users.include?(current_user) %>
          <a>
            <div class="ui red image label" id="disconnect_client_modal_<%= client.id %>">
              <i class="pencil icon"></i>
              Disconnect 
            </div>
          </a>
        <% else %>
          <a>
            <div class="ui green image label" id="connect_client_modal_<%= client.id %>">
              <i class="pencil icon"></i>
              Connect
            </div>
          </a>
        <% end %>
        
      </div>
      <%= link_to User.find_by_name(client.bu_manager) do %>
        <div class="ui yellow image label">
        <%= image_tag(user_avatar_class(client.bu_manager)) %>
        <%= client.bu_manager %> 
        <div class="detail">Account manager</div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="ui bottom attached label">
    <i class="user icon"></i> <%= client.users.count %> &nbsp; &nbsp; &nbsp;
    <i class="industry icon"></i> <%= client.branch %>
  </div>
</div>
<!-- DESKTOP EIND Klantenoverzichtitem -->

<% if client.users.include?(current_user) %>
<!-- DESKTOP Klantenoverzichtitem disconnect modal -->
  <div class="ui small modal" id="disconnect_client_modal_<%= client.id %>">
    <div class="header">
      Disconnect met klant '<%= client.name %>'
    </div>
    
    <div class="content">
      <%= form_for(client.user_clients.find_by(user_id: current_user.id), html: { method: :delete }) do |f| %>
        <p>Weet je het zeker?</p>
        <div class="actions">
          <div class="ui black deny button">
            Annuleren
          </div>
            <%= f.button( :class => 'ui negative right labeled icon button' ) do %>
              Disconnect <i class="remove icon"></i>
            <% end %>
        </div>
      <% end %>  
    </div>
                  
  </div>
<!-- DESKTOP EIND Klantenoverzichtitem disconnect modal -->
<% else %>
<!-- DESKTOP Klantenoverzichtitem connect modal -->
  <div class="ui small modal" id="connect_client_modal_<%= client.id %>">
    <div class="header">
      Connect met klant '<%= client.name %>'
    </div>
    
      <div class="content">
        <%= form_for(client.user_clients.build, html: {class: "ui form"}) do |f| %>
          Geef aan over wat voor periode er een contract is afgesloten met jou en deze klant: <br><br>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.hidden_field :client_id %>
          <strong><%= f.label :from_date, "Van"  %></strong>
          <%= f.date_field :from_date%><br><br>
          <strong><%= f.label :to_date, "Tot"  %></strong>
          <%= f.date_field :to_date%><br><br>
          <div class="actions">
            <div class="ui black deny button">
              Annuleren
            </div>
            <%= f.button( :class => 'ui positive right labeled icon button' ) do %>
              Connect <i class="checkmark icon"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    
  </div>
<!-- DESKTOP EIND Klantenoverzichtitem connect modal -->
<% end %>

<script>
  $(function() {
    $('div.label#connect_client_modal_<%= client.id %>').click( function(){
       $('div.modal#connect_client_modal_<%= client.id %>').modal('show');
    })
  })
  $(function() {
    $('div.label#disconnect_client_modal_<%= client.id %>').click( function(){
       $('div.modal#disconnect_client_modal_<%= client.id %>').modal('show');
    })
  })
</script>

