<%= render 'shared/error_messages', object: f.object %>

<div class="fields">
  <div class="six wide required field">
    <%= f.label :name, "Naam" %>
    <%= f.text_field :name %>
  </div>
  <div class="three wide required field">
    <%= f.label :attitude, "Attitude" %>
    <%= f.select(:attitude, ['Business', 'Test', 'Technical'], 
    {prompt: default_select_value}) %>
  </div>
</div>

<div class="fields">
  <div class="three wide required field">
    <%= f.label :branch, "Branche"  %>
    <%= f.select(:branch, ['Agrarisch', 'Financieel', 'Gezondheidszorg', 'Industrie', 'Infrastructuur', 'Onderwijs', 'Overheid', 'Retail', 'Telecom', 'Transport', 'Vastgoed'] , 
    {prompt: default_select_value}) %>
  </div>
  <div class="six wide required field">
    <%= f.label :bu_manager, "Account manager"  %>
    <%= f.select(:bu_manager, User.where.not(name: ['KZA Connected']).order('name asc').pluck(:name), 
    {prompt: default_select_value}) %>
  </div>
  <div class="six wide required field">

    <%= f.label :logo_url do "Clearbit logo url (#{link_to('probeer', 'https://clearbit.com/logo')})".html_safe end %>
    <%= f.text_field :logo_url %>
  </div>
</div>

<div class="fields">
  <div class="sixteen wide required field">
    <%= f.label :description, "Beschrijving"  %>
    <%= f.text_area :description, rows: description_rows_new_and_edit_pages %>
  </div>
</div>