<% provide(:title, "Klant bewerken") %>

  <div class="ui basic segment">
          
    <div id="desktoppagetitleandsearchbar">
      <div id="titlebarsegment" class="ui basic segment">
          <h3>Klant bewerken</h3>
      </div>
    </div>

    <%= form_for(@client, html: {class: "ui form"}) do |f| %>
      <%= render :partial => "client_form", :locals => { :f => f } %>
      <%= f.submit "Sla wijzigingen op", class: "ui fluid large pink submit button" %>
    <% end %>

  </div>