<% provide(:title, @client.name) %>

<div class="ui basic segment">
  
  <div id="desktoppagetitleandsearchbar">
    <div id="titlebarsegment" class="ui basic segment">
        <h3>Klantinformatie</h3>
    </div>
  </div>

  <div class="ui center aligned container">
    <div class="ui center aligned stacked segment">
      <div class="ui celled grid">
        
        <div class="row">
          <div class="six wide column">
            <h4 class="ui horizontal divider header profileheader">
              <i class="mini suitcase icon"></i>
              Algemeen
            </h4>
            <p>
              <div class="ui grid">
                <div class="one columnn row">
                  <div class="left aligned column">
                    <img src="http://logo.clearbit.com/<%= @client.logo_url %>" width="128" class="ui centered image">
                    <br>
            <strong><%= label_tag 'name', 'Naam' %></strong>
                    <%= label_tag 'name', @client.name %><br>
            <strong><%= label_tag 'attitude', 'Attitude' %></strong>
                    <%= label_tag 'attitude', @client.attitude %><br>
            <strong><%= label_tag 'branch', 'Branche' %></strong>
                    <%= label_tag 'branch', @client.branch %><br>
            <strong><%= label_tag 'manager', 'Account manager' %></strong>
                    <%= label_tag 'manager', @client.bu_manager %><br>
            <strong><%= label_tag 'amount', 'Aantal KZAers' %></strong>
                    <%= label_tag 'amount', @client.users.count.to_s%><br>
                    <br>
                    <%= link_to "Klant bewerken", edit_client_path %><br>
                    <% if current_user.admin? %>
                      <%= link_to "Klant verwijderen", @client, method: :delete, data: { confirm: "Weet je het zeker?" } %><br>
                    <% end %>
                    <br>
                  </div>
                </div>
              </div>     
            </p>
          </div>
          <div class="ten wide column">
            <h4 class="ui horizontal divider header profileheader">
              <i class="mini info icon"></i>
              Aanvullende informatie
            </h4>
            <p>
              <div class="ui grid">
                <div class="one columnn row">
                  <div class="left aligned column">
                    <p>
                      <%= h(@client.description).gsub(/\n/, '<br/>').html_safe %>
                    </p>
                  </div>
                </div>
              </div>     
            </p>
          </div>
        </div>

        <div class="row">
          <div class="column">
            <h4 class="ui horizontal divider header profileheader">
              <i class="mini user icon"></i>
              Collega's verbonden aan deze klant
            </h4>
            <div class="ui list">
              <% if @client.users.any? %>
                <table class="ui very basic table">
                  <thead>
                    <tr>
                      <th class="four wide">&nbsp;</th>
                      <th class="five wide">Collega</th>
                      <th class="two wide">Van</th>
                      <th class="five wide">Tot</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @client.user_clients.each do |userclient| %>
                      <tr>
                        <td class="right aligned">
                          <%= link_to User.find_by_name(userclient.user.name) do %>
                             <%= image_tag(user_avatar_class(userclient.user.name), height: '30') %>
                          <% end %>
                        </td>
                        <td>
                          <%= link_to User.find_by_name(userclient.user.name) do %>
                            <%= userclient.user.name %>
                          <% end %>
                        </td>
                        <td>
                          <%= link_to User.find_by_name(userclient.user.name) do %>
                            <%= userclient.from_date.strftime("%d/%m/%Y") %>
                          <% end %>
                        </td>
                        <td>
                          <%= link_to User.find_by_name(userclient.user.name) do %>
                            <%= userclient.to_date.strftime("%d/%m/%Y") %>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>  
              <% else %>
                <div class="ui basic segment">
                  Nog geen collega's verbonden aan deze klant.
                </div>
              <% end %>
            </div>
          </div>
        </div>
       
      </div>
    </div>
  </div>
</div>