<!-- DESKTOP Cursusoverzichtitem -->
<div class="ui segments listoverview">
  <div class="ui segment" id="topcontainersingleitem">
    
    <%= link_to course do %>
      <div class="<%= attitude_class(course.attitude) %>">
        <%= course.name %>
      </div>
    <% end %>
    
    <div class="overzichtdescription">
      <%= truncate(course.description, :length => description_length_index_pages) %>
    </div>    
    <div class="extra">
      <div class="ui right floated labeled button" tabindex="0">
              
        <% if course.users.include?(current_user) %>
          <a>
            <div class="ui red image label" id="disconnect_course_modal_<%= course.id %>">
              <i class="pencil icon"></i>
              Disconnect 
            </div>
          </a>
        <% else %>
          <a>
            <div class="ui green image label" id="connect_course_modal_<%= course.id %>">
              <i class="pencil icon"></i>
              Connect
            </div>
          </a>
        <% end %>
        
      </div>
      <%= link_to User.find_by_name(course.teacher) do %>
      <div class="ui yellow image label">
        <%= image_tag(user_avatar_class(course.teacher)) %>
        <%= course.teacher %> 
        <div class="detail">Docent</div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="ui bottom attached label">
    <i class="user icon"></i> <%= course.users.count %> &nbsp; &nbsp; &nbsp;
    <i class="calendar icon"></i><%= course.startdate.strftime("%m - %Y") %> &nbsp; &nbsp; &nbsp;
    <i class="checked calendar icon"></i><%= course.status %> &nbsp; &nbsp; &nbsp;
  </div>
</div>
<!-- DESKTOP EIND Cursusoverzichtitem -->

<% if course.users.include?(current_user) %>
<!-- DESKTOP Cursusoverzichtitem disconnect modal-->
  <div class="ui small modal" id="disconnect_course_modal_<%= course.id %>">
    <div class="header">
      Disconnect met cursus '<%= course.name %>'
    </div>
    
      <div class="content">
        <%= form_for(course.user_courses.find_by(user_id: current_user.id), html: { method: :delete }) do |f| %>
          <p>Weet je het zeker?</p>
          <div class="actions">
            <div class="ui black deny button">
              Annuleren
            </div>
            <%= f.button( :class => 'ui negative right labeled icon button' ) do %>
              Disconnect <i class="remove icon"></i>
            <% end %>
          </div>
        <% end %>
      </div>

  </div>
<!-- DESKTOP EIND Cursusoverzichtitem disconnect modal-->
<% else %>
<!-- DESKTOP Cursusoverzichtitem connect modal-->
  <div class="ui small modal" id="connect_course_modal_<%= course.id %>">
    <div class="header">
      Connect met cursus '<%= course.name %>'
    </div>

      <div class="content">
        <%= form_for(course.user_courses.build, html: {class: "ui form"}) do |f| %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.hidden_field :course_id %>
          <%= f.label :status, "Geef aan in wat voor mate je verbonden bent met deze cursus:"  %>
          <%= f.select(:status, ['Geinteresseerd', 'Ingeschreven', 'Afgerond'], {prompt: default_select_value}) %><br>
                 
          <div class="actions">
            <div class="ui black deny button">
              Annuleren
            </div>
            <%= f.button( :class => 'ui positive right labeled icon button' ) do %>
              Connect <i class="checkmark icon"></i>
            <% end %>
          </div>
        <% end %>
      </div>

  </div>
<!-- DESKTOP EIND Cursusoverzichtitem connect modal-->
<% end %>

<script>
  $(function() {
    $('div.label#connect_course_modal_<%= course.id %>').click( function(){
       $('div.modal#connect_course_modal_<%= course.id %>').modal('show');
    })
  })
  $(function() {
    $('div.label#disconnect_course_modal_<%= course.id %>').click( function(){
       $('div.modal#disconnect_course_modal_<%= course.id %>').modal('show');
    })
  })
</script>

