<%= render 'shared/error_messages', object: f.object %>

<div class="fields">
  <div class="six wide required field">
    <%= f.label :name, "Naam" %>
    <%= f.text_field :name %>
  </div>
  <div class="three wide required field">
    <%= f.label :attitude, "Attitude" %>
    <%= f.select(:attitude, ['Business', 'Test', 'Technical'], 
    {prompt: default_select_value}) %>
  </div>
</div>

<div class="fields">
  <div class="three wide required field">
    <%= f.label :status, "Status"  %>
    <%= f.select(:status, ['Nog in te plannen', 'Inschrijving geopend', 'Inschrijving gesloten'], 
    {prompt: default_select_value}) %>
  </div>
  <div class="six wide required field">
    <%= f.label :teacher, "Docent"  %>
    <%= f.select(:teacher, User.where.not(name: ['KZA Connected']).order('name asc').pluck(:name), 
    {prompt: default_select_value}) %>
  </div>
  <div class="three wide required field">
    <%= f.label :function_level, "Functie niveau"  %>
    <%= f.select(:function_level, ['T', '1', '2', '3'], 
    {prompt: default_select_value}) %>
  </div>
</div>

<div class="fields">
  <div class="four wide required field">
    <%= f.label :startdate, "Eerste cursusdag"  %>
    <%= f.date_field :startdate%>
  </div>
  <div class="four wide required field">
    <%= f.label :amountofdays, "Aantal cursusdagen"  %>
    <%= f.select(:amountofdays, ['Nog niet bekend', '1','2','3','4','5','6','7','8','9','10', 'Meer dan 10'], 
    {prompt: default_select_value}) %>  
  </div>
  <div class="four wide required field">
    <%= f.label :accomplishments, "Slagingscriterium"  %>
    <%= f.select(:accomplishments, ['Cursusavonden gevolgd', 'Praktijkervaring opgedaan', 'Certificaat behaald'], 
    {prompt: default_select_value}) %>
  </div>
  <div class="four wide required field">
    <%= f.label :max_participants, "Maximum aantal inschrijvingen"  %>
    <%= f.select(:max_participants, ['5','10','15','20','25','30','35','40','45','50', 'Onbeperkt'], 
    {prompt: default_select_value}) %>
  </div>
</div>

<div class="fields">
  <div class="sixteen wide required field">
    <%= f.label :description, "Beschrijving"  %>
    <%= f.text_area :description, rows: description_rows_new_and_edit_pages %>
  </div>
</div>