<% provide(:title, "Cursus bewerken") %>

  <div class="ui basic segment">
          
    <div id="desktoppagetitleandsearchbar">
      <div id="titlebarsegment" class="ui basic segment">
          <h3>Cursus bewerken</h3>
      </div>
    </div>
  
    <%= form_for(@course, html: {class: "ui form"}) do |f| %>
      <%= render :partial => "course_form", :locals => { :f => f } %>
      <%= f.submit "Sla wijzigingen op", class: "ui fluid large pink submit button" %>
    <% end %>
  
  </div>