<% provide(:title, "Cursus aanmaken") %>

  <div class="ui basic segment">
          
    <div id="desktoppagetitleandsearchbar">
      <div id="titlebarsegment" class="ui basic segment">
          <h3>Cursus aanmaken</h3>
      </div>
    </div>

    <%= form_for(@course, html: {class: "ui form"}) do |f| %>
      <%= render :partial => "course_form", :locals => { :f => f } %>
      <%= f.submit "Maak cursus aan", class: "ui fluid large pink submit button" %>
    <% end %>

  </div>