<% provide(:title, @course.name) %>

<div class="ui basic segment">
  
  <div id="desktoppagetitleandsearchbar">
    <div id="titlebarsegment" class="ui basic segment">
        <h3>Cursusinformatie</h3>
    </div>
  </div>

  <div class="ui center aligned container">
    <div class="ui center aligned stacked segment">
      <div class="ui celled grid">
        
        <div class="row">
          <div class="six wide column">
            <h4 class="ui horizontal divider header profileheader">
              <i class="mini student icon"></i>
              Algemeen
            </h4>
            <p>
              <div class="ui grid">
                <div class="one columnn row">
                  <div class="left aligned column">
            <strong><%= label_tag 'name', 'Cursus naam'%></strong>
                    <%= label_tag 'name', @course.name %><br>
            <strong><%= label_tag 'attitude', 'Attitude' %></strong>
                    <%= label_tag 'attitude', @course.attitude %><br>
            <strong><%= label_tag 'teacher', 'Docent' %></strong>
                    <%= label_tag 'teacher', @course.teacher %><br>
            <strong><%= label_tag 'days', 'Aantal avonden' %></strong>
                    <%= label_tag 'days', @course.amountofdays.to_s %><br>        
            <strong><%= label_tag 'functionlevel', 'Functie niveau' %></strong>
                    <%= label_tag 'functionlevel', @course.function_level %><br>
            <strong><%= label_tag 'accomplishments', 'Slagingscriteria' %></strong>
                    <%= label_tag 'accomplishments', @course.accomplishments %><br>
            <strong><%= label_tag 'status', 'Status' %></strong>
                    <%= label_tag 'status', @course.status %><br>
            <strong><%= label_tag 'startdate', 'Eerste cursusdag' %></strong>
                    <%= label_tag 'startdate', @course.startdate %><br>
            <strong><%= label_tag 'attendants', 'Cursisten' %></strong>
                    <%= label_tag 'attendants', @course.users.count.to_s + '/' + @course.max_participants.to_s %><br>
                    <br>
                    <%= link_to "Cursus bewerken", edit_course_path %><br>
                    <% if current_user.admin? %>
                    <%= link_to "Cursus verwijderen", @course, method: :delete, data: { confirm: "Weet je het zeker?" } %><br>
                    <% end %>
                    <br>
                  </div>
                </div>
              </div>     
            </p>
          </div>
          <div class="ten wide column">
            <h4 class="ui horizontal divider header profileheader">
              <i class="mini info icon"></i>
              Aanvullende informatie
            </h4>
            <p>
              <div class="ui grid">
                <div class="one columnn row">
                  <div class="left aligned column">
                    <p>
                      <%= h(@course.description).gsub(/\n/, '<br/>').html_safe %>
                    </p>
                  </div>
                </div>
              </div>     
            </p>
          </div>
        </div>

        <div class="one column row">
          <div class="column">
            <h4 class="ui horizontal divider header profileheader">
              <i class="mini user icon"></i>
              Collega's verbonden aan deze cursus
            </h4>
            
            <% if @course.users.any? %>
            
              <div class="ui grid">
                <div class="three column row">
                  
                  <div class="column">
                    <h5 class="ui blue horizontal header profileheader">Geinteresseerd</h5>
                    <div class="ui middle aligned animated list">
                      <% @course.user_courses.each do |usercourse| %>
                      <% if usercourse.status == "Geinteresseerd"  %>  
                        <div class="item">
                          <%= image_tag(user_avatar_class(usercourse.user.name), {class: 'ui avatar image'}) %>
                          <div class="content">
                            <%= link_to(usercourse.user.name, user_path(usercourse.user), html: {class: 'header'}) %>
                          </div>
                        </div>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                  
                  <div class="column">
                    <h5 class="ui teal horizontal header profileheader">Ingeschreven</h5>
                    <div class="ui middle aligned animated list">
                      <% @course.user_courses.each do |usercourse| %>
                      <% if usercourse.status == "Ingeschreven"  %>  
                        <div class="item">
                          <%= image_tag(user_avatar_class(usercourse.user.name), {class: 'ui avatar image'}) %>
                          <div class="content">
                            <%= link_to(usercourse.user.name, user_path(usercourse.user), html: {class: 'header'}) %>
                          </div>
                        </div>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                  
                  <div class="column">
                    <h5 class="ui green horizontal header profileheader">Afgerond</h5>
                    <div class="ui middle aligned animated list">
                      <% @course.user_courses.each do |usercourse| %>
                      <% if usercourse.status == "Afgerond"  %>  
                        <div class="item">
                          <%= image_tag(user_avatar_class(usercourse.user.name), {class: 'ui avatar image'}) %>
                          <div class="content">
                            <%= link_to(usercourse.user.name, user_path(usercourse.user), html: {class: 'header'}) %>
                          </div>
                        </div>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                  
                </div>
              </div>
            <% else %>
              <div class="ui basic segment">
                Nog geen collega's verbonden aan deze cursus.
              </div>
            <% end %>
            
            
          </div>
        </div> 
        
      </div>
    </div>
  </div>
</div>