<div class="event">
  <div class="label">
    <%= image_tag(user_avatar_class(micropost.user.name)) %>
  </div>
  <div class="content">
    <div class="summary">
      <%= link_to micropost.user.name, micropost.user %>
      <div class="date">
        Geplaatst op <%= micropost.created_at.in_time_zone(default_timezone).strftime "%d-%m-%Y" %>, om <%= micropost.created_at.in_time_zone(default_timezone).strftime "%H:%M:%S" %>.
      </div>
    </div>    
    <div class="extra text">
      <%= micropost.content %>
    </div>
    <% if micropost.picture? %>
      <div class="extra images" id="image_<%= micropost.id %>">
        <a><%= image_tag micropost.picture.url %></a>
      </div>
      <div class="ui small modal" id="image_modal_<%= micropost.id %>">
        <div class="image content">
          <center><%= image_tag micropost.picture.url %></center>
        </div>
      </div>
    <% end %>
    <div class="meta">
      <% if current_user?(micropost.user) %>
        <%= link_to micropost, method: :delete, html: {class: "like"}, data: { confirm: "Weet je het zeker?" } do %>
          <i class="remove icon"></i> Verwijder bericht
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(function() {
    $('div#image_<%= micropost.id %>').click( function(){
       $('div#image_modal_<%= micropost.id %>').modal('show');
    })
  })
</script>





              


