@import "semantic-ui";


/* Error messages */
.ui.form > div.error.message {
display: block;
}

/* Mainpage titlebar / searchbar position fix */
#searchbarfix {
margin-top: 0;
margin-right: 0;
padding-top: 5px;
padding-right: 0;
}
#titlebarsegment {
margin-bottom: 32px;
}

/* Detail item van cursus overzicht styling */
#topcontainersingleitem {
margin-bottom: 10px;
}

/* Content area adjustments */
.main.container {
    margin-top: 4em;
}

/* Overview pagina aanpassingen */
.listoverview {
padding-bottom: 20px;
}
div.ui.bottom.right.attached.basic.label {
border: 0px;
}
div.ui.bottom.attached.label {
color: #E4008D;
}
.ui.inverted.attached.segment {
border-color: transparent !important;
}
div.ui.inverted.top.attached.segment {
height: 30px;
padding: 0.4em;
padding-left: 1em;
padding-right: 1em;
} 


/* @Media Queries voor resolutie controle op verschillende platformen */
@media screen and (min-width: 1313px) and (max-width: 1394px) {
#desktopmenu {
font-size: 13px;
}
img.logo {
width: 170px !important;
height: 24px !important;
} 
}
@media screen and (min-width: 1220px) and (max-width: 1312px) {
#desktopmenu {
font-size: 12px;
}
img.logo {
width: 156px !important;
height: 22px !important;
} 
}
@media screen and (min-width: 1200px) {
.ui.container {
width: auto !important;
} 
}
@media screen and (min-width: 769px) and (max-width: 1219px) {
#desktopmenu {
font-size: 11px;
}
img.logo {
width: 144px !important;
height: 20px !important;
}
}

/* Alles boven de 769px is met de full navigation bar */

@media screen and (min-width: 769px) {
  .maincontent {
  margin: 0 auto;
  width: 65%;
  }
  #mobilemenu {
  display: none;
  }
  .overzichtdescription {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  }
  .overzichtimage {
  border: 1px solid #ddd;
  }
  .overzichtimage > img {
  display: block;
  }
  .overzichttekst {
  padding-left: 10px;
  }
  #mobilecourseoverview {
  display: none;
  }    
  #tabletpagetitleandsearchbar {
  display: none;
  }

  .profileheader {
  color: #E4008D !important;
  }
  .ui.feed>.event>.content .extra.text {
  max-width: 95%;
  }
  .berichtenboxspacer {
    padding-left: 1%;
  }
}

/* Alles onder de 768px is met mobile navigation bar */

@media screen and (max-width: 768px) {
.ui.styled.accordion .accordion .title, .ui.styled.accordion .title {
   padding: 0em 0em;
   padding-bottom: 0.3em;
}
div.ui.styled.fluid.accordion {
box-shadow: none;
}
#coursenames {
border: 0px;
color: #E4008D; 
}
#topcontainersingleitem {
padding: 0.5em;
}
#attendees {
font-size: 0.9em;
}
body.pushable {
background: #FFFFFF !important;
}
#desktopcourseoverview {
display: none;
}
#desktoppagetitleandsearchbar {
display: none;
} 
}

@media screen and (min-width: 569px) and (max-width: 768px) {
  #desktopmenu {
  display: none;
  }
.ui[class*="top attached"].menu {
margin-top: 0;
}
.fontResizeMobileMenu {
font-size: 13px;
}
}
@media screen and (max-width: 568px) {
.ui.menu {
border: 0px;
}
}
@media screen and (min-width: 391px) {
#mobilepagetitleandsearchbar {
display: none;
}
}
@media screen and (max-width: 390px) {
#tabletpagetitleandsearchbar {
display: none;
}
.ui.segment {
padding: 0.3rem;
}
}
@media screen and (max-width: 321px) {
.fontResizeMobileMenu {
font-size: 11px !important; 
}
}

/* [Desktop] Main Navigation Fixes */
.ui.menu .item img.logo {
    margin-right: 0.3em;
    height: 28px;
    width: 200px;
}

/* [Mobile] Sidebar Fixes */
.ui.inverted.left.inline.vertical.sidebar.menu {
overflow: visible !important; 
}
.ui.menu .item:before {
width: 0px;
}
.fontResizeMobileMenu {
font-size: 13px;
}