<!--===============================================
	[Desktop] Navigationbar met alle dropdown mogelijkheden
===================================================-->

<div id="desktopmenu" class="ui fixed top pink menu">
  
  <a class="header item", href="<%= home_path %>">
    <%= image_tag("LogoKZAConnected.png", alt: "Home", class: "logo") %>
  </a> 
  
    <div class="ui simple dropdown item">
      <i class="user icon"></i>
      Collega's
      <i class="dropdown icon"></i>        
      <div class="menu">
        <%= link_to "Collega overzicht", users_path, class: 'item' %>
        <% if current_user.admin? %>
          <%= link_to "Collega aanmaken", new_user_path , class: 'item' %>
        <% end %>
      </div>
    </div>    

    <div class="ui simple dropdown item">
      <i class="users icon"></i>
      Groepen
      <i class="dropdown icon"></i>        
      <div class="menu">
        <%= link_to "Groep overzicht", groups_path, class: 'item' %>
        <%= link_to "Groep aanmaken", new_group_path, class: 'item' %>
      </div>
    </div>  

    <div class="ui simple dropdown item">
      <i class="student icon"></i>
      Cursussen
      <i class="dropdown icon"></i>    
      <div class="menu">
        <%= link_to "Cursus overzicht", courses_path, class: 'item' %>
        <%= link_to "Cursus aanmaken", new_course_path, class: 'item' %>
      </div>
    </div>

    <div class="ui simple dropdown item">
      <i class="book icon"></i>
      Kennisgebieden
      <i class="dropdown icon"></i>    
      <div class="menu">
        <%= link_to "Kennisgebied overzicht", skills_path, class: 'item' %>
        <%= link_to "Kennisgebied aanmaken", new_skill_path, class: 'item' %>
      </div>    
    </div>  

    <div class="ui simple dropdown item">
      <i class="suitcase icon"></i>
      Klanten
      <i class="dropdown icon"></i>    
      <div class="menu">
        <%= link_to "Klant overzicht", clients_path, class: 'item' %>
        <%= link_to "Klant aanmaken", new_client_path, class: 'item' %>
      </div>    
    </div>

    <div class="right menu">
      <div class="ui simple dropdown item">
        <i class="user icon"></i>
        <%= current_user.name %>
        <i class="dropdown icon"></i>    
        <div class="menu">
          <%= link_to "Profiel bekijken", current_user, class: 'item' %>
          <%= link_to "Profiel bewerken", edit_user_path(current_user), class: 'item' %>
          <%= link_to "Connecties bewerken", edit_connections_user_path(current_user), class: 'item' %>
        </div>    
      </div>    
    

      <a class="ui simple dropdown item" data-method="delete", href="<%= logout_path %>">
        <i class="power icon"></i>
        <div class: 'item'>Log uit</div>
      </a>
    </div>
    
  </div>

