<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= full_title(yield(:title)) %>
    </title>
    
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <%= render 'layouts/shim' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>
  
  <body>
    <% if logged_in? && !current_page?(controller: 'sessions', action: 'new') && !current_page?(controller: 'sessions', action: 'destroy')  %>
      <%= render 'layouts/header' %>
    <% end %>
    
    <% if logged_in? %>
      <section class="maincontent main container">
        <div class="ui center aligned container">
            <% flash.each do |message_type, message| %>
              <br>
                <div class="<%= flash_class(message_type) %>">
                  <%= message %>
                </div>
              <br>
            <% end %>
        </div>
      <% end %>
      
      <%= yield %>
      
    </section>
    
  <script>
    setClassNameOfAllChilds("pagination","item");
    replaceClassName("field_with_errors","field error");
    replaceClassName("pagination","ui pagination menu");
  </script>

  </body>
</html>


